{{ define "main" }}

{{ partial "unit-hero-area.html" . }}

{{ partial "unit-navigation.html" . }}

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 offset-lg-0">
				{{ .Content }}
			</div>
		</div>
	</div>
</section>

<div class="section section-bg">
	<div class="container">
		<div class="row">

			<div class="col-lg-12 offset-lg-0">
        {{ with resources.Match .Params.imagesmatch }}
				{{ range $index, $element := . }}

				{{ if in .RelPermalink "images" }}
				{{ $image := $element.Fill "1280x720" }}

				<div class="thumbnail">
					<a href="{{ $element.RelPermalink }}">
						<img src="{{ $image.RelPermalink }}" class="img-responsive d-block w-100" {{ with $image.Exif }}
							alt="{{ .Date }}" {{ end }} />
					</a>
				</div>
				<br />
				{{ end }}
				{{ end }}
				{{ end }}
			</div>
		</div>
	</div>
</div>


{{ end }}
