{{ define "main" }}

{{ partial "unit-hero-area.html" . }}

{{ partial "unit-navigation.html" . }}

<section class="section-bg row">
	<br />
</section>

<section class="section-bg">

	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="content-block">
					{{ .Content }}
				</div>
			</div>

			<div class="col-lg-6 unit-index-images">
				<img src="location.jpg" class="w-100" />
				<img src="plot.jpg" class="w-100" />
			</div>
		</div>
	</div>
</section>

{{ end }}