<!-- TODO is this useless? -->

<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4 d-flex" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
    {{ if .Params.thumbnail }}
      {{ $image := resources.Get .Params.thumbnail }}
      {{ $image := $image.Fill "1200x848" }}
        <img class="img-fluid lozad" data-src="{{ $image.Permalink }}" alt="blog-image">
        <noscript><img class="img-fluid" src="{{ $image.Permalink }}" alt="blog-image"></noscript>
    {{ end }}
    
		{{ range .Params.images }}	

		{{ $image := resources.Get . }}
		{{ $image := $image.Fill "1200x848" }}

        <img class="img-fluid lozad" data-src="{{ $image.Permalink }}" alt="blog-image">
        <noscript><img class="img-fluid" src="{{ $image.Permalink }}" alt="blog-image"></noscript>
		{{ end }}
		{{ if .Params.Image }}
        <img class="img-fluid lozad" data-src="{{ .Params.Image | absURL }}" alt="blog-image">
        <noscript><img class="img-fluid" src="{{ .Params.Image | absURL }}" alt="blog-image"></noscript>
		{{ end }}
		{{ if .Params.Image_webp }}
        <img class="img-fluid lozad" data-src="{{ .Params.Image_webp | absURL }}" alt="blog-image">
        <noscript><img class="img-fluid" src="{{ .Params.Image_webp | absURL }}" alt="blog-image"></noscript>
    {{ end }}
    </div>
    
    <div class="content">
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p style="color: #aab686">{{ .Summary }}</p>
      <a class="btn btn-transparent" style="color: rgba(255,255,255,.5)" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
    </div>
  </div>
</article>
