{{ $data := index site.Data site.Language.Lang }}

{{ if $data.about.about.enable }}
{{ with $data.about.about }}
{{"<!-- Start About Section -->" | safeHTML}}
<section class="bg-one about section" id="about">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<h2> {{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ index (split . " ") 1 | safeHTML }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}
		</div>
		<div class="row justify-content-center">
			{{ range .about_item }}
			{{"<!-- About item -->" | safeHTML}}
			<div class="col-lg-4 col-md-4 col-12 about-item text-center wow fadeInUp" data-wow-duration="500ms">
				<div class="block">
					<a href="{{ .link }}">
					<div class="icon-box d-flex justify-content-center align-items-center">
						{{with .icon}}<i class="{{ . }}"></i>{{ end }}
					</div>
					</a>
					{{"<!-- Express About Yourself -->" | safeHTML}}
					<div class="content text-center">
						<h3>{{ .title }}</h3>
						<p>{{ .content | markdownify }}</p>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
		<div class="row justify-content-center" style="padding-left: 15px; padding-right: 15px">
	
			<div class="col-lg-12 block">
					<div class="embed-responsive-item embed-responsive embed-responsive-16by9">
					<iframe id="lbry-iframe" width="560" height="315" src="https://odysee.com/$/embed/introduction/584e5f97752720a3f2ae7ab85728826b8a340392" allowfullscreen></iframe>
					</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /about -->" | safeHTML}}
{{ end }}
{{ end }}
