{{ $data := index site.Data site.Language.Lang }}

{{ if $data.uptodate.uptodate.enable }}
{{ with $data.uptodate.uptodate }}
{{"<!-- Start uptodate Section -->" | safeHTML}}
<section class="bg-one about section" id="uptodate">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<h2> {{ .title }}</h2>
					<p>{{ .text }}</p>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{ range .uptodate_item }}
			{{"<!-- uptodate item -->" | safeHTML}}
			<div class="col-lg-4 text-center wow fadeInUp d-flex" data-wow-duration="500ms">
				<div class="block">
					<div class="icon-box d-flex justify-content-center align-items-center">
						{{with .icon}}<i class="{{ . }}"></i>{{ end }}
					</div>
					{{"<!-- Express uptodate Yourself -->" | safeHTML}}
					<div class="content text-center">
						<h3>{{ .title }}</h3>
						<p>{{ .content | markdownify }}</p>
					</div>
				</div>
			</div>
			{{ end }}

		</div>
	</div>
</section>
{{"<!-- /uptodate -->" | safeHTML}}
{{ end }}
{{ end }}
