{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section single-section">
  <div class="container">
    <div class="row section-bg">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1 class="my-3">{{ .Title }}</h1>
                
		{{ if .Params.Image }}
        <img class="w-100 mb-50 lozad" data-src="{{ .Params.Image | absURL }}" alt="blog-image">
        <noscript><img class="w-100 mb-50" src="{{ .Params.Image | absURL }}" alt="blog-image"></noscript>
		{{ end }}
		{{ range .Params.images }}

          {{ $image := resources.Get . }}
          {{ $image := $image.Fill "1200x600" }} 		
		
	    <img class="w-100 mb-50 lozad" data-src="{{ $image.Permalink }}" alt="blog-image">
    	<noscript><img class="w-100 mb-50" src="{{ $image.Permalink }}" alt="blog-image"></noscript>
		{{ end }}

      </div>
                
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content text-justify">
          {{ .Content }}
        </div>
        {{ if site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
